.my-custom-class .modal-wrapper {
    border-radius: 50px;
    padding: 50px;
    margin: 100px;
}

.modalbutton {
    --background: white;
    --border-width: 5px;
    --color: black;
}

#closemodal {
    width: 50%;
    /* padding: 0px;
    margin: 30px; */
    --background: white;
    --border-width: 5px;
    --color: black;
}

.ion-page {
    align-items: center;
    justify-content: center;
}

#projmod {
    justify-content: center;
}